/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

/*  300 - 200 = 100
*/

.menuToggle {
  font-size: 22px;
  background: green;
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-250px);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a {
  pointer-events: none;
  display: block;
  text-decoration: none;
  color: white;

  transition: background 0.3s ease;

  padding: 10px 0 10px 30px;
}

.menuToggle a:hover {
  background: #0e5c1b;
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */

.menuToggle nav {
  margin-top: 60px;
  /* height: 100%; */
  width: 100%;
}

.menuToggle ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
}

.hamburger-button {
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 30px;
}

.visible {
  transform: none;
}

.visible nav a {
  pointer-events: auto;
}

.logout-wrapper {
  padding-left: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  .menuToggle {
    top: 60px;
    width: 100%;
    transform: translateY(-100%);
  }

  .visible {
    transform: none;
    top: 0px;
  }

  .logout-wrapper {
    padding-left: 0px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7px;
  }
}
